<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit SparqlQuery</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="sparqlQuery" object="{sparqlQuery}">
	<label for="title"><f:translate key="tx_semantic_domain_model_sparqlquery.name" /></label><br />
	<f:form.textbox property="name" /><br />
	<label for="title"><f:translate key="tx_semantic_domain_model_sparqlquery.query_string" /></label><br />
	<f:form.textbox property="queryString" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>