<f:layout name="default" />

This template displays a NEW form for the current domain object.

<f:section name="main">
<h1>New SparqlQuery</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="create" name="newSparqlQuery" object="{newSparqlQuery}">
	<label for="title"><f:translate key="tx_semantic_domain_model_sparqlquery.name" /></label><br />
	<f:form.textbox property="name" /><br />
	<label for="title"><f:translate key="tx_semantic_domain_model_sparqlquery.query_string" /></label><br />
	<f:form.textbox property="queryString" /><br />
	<f:form.submit value="Create new" />
</f:form>
</f:section>