<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit Endpoint</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="endpoint" object="{endpoint}">
	<label for="title"><f:translate key="tx_semantic_domain_model_sparql_endpoint.name" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="name" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>