{namespace s=Tx_Semantic_ViewHelpers}
<f:layout name="default" />
<f:section name="main">

<f:flashMessages />

<table class="contenttable contenttable-3">
	<tr class="tr-even tr-0">
	<f:for each="{queryResult.boundVariableNames}" as="variableName">
	<td>{variableName->s:humanize()}</td>
	</f:for>
	</tr>

	<f:for each="{queryResult}" as="singleResult">
	<f:cycle values="{0: 'odd', 1: 'even'}" as="zebra">
		<tr class="tr-{zebra}">
			<f:for each="{singleResult}" as="binding">
			<td>
				<f:if condition="{binding->s:instanceof(className : 'Tx_Semantic_Domain_Model_Rdf_Iri')}">
				<f:then>
				<f:link.external uri="{binding}">{binding->s:parse()}</f:link.external>
				</f:then>
				<f:else>
				{binding->s:parse()}
				</f:else>
				</f:if>
			</td>
			</f:for>
		</tr>
	</f:cycle>
	</f:for>
</table>

</f:section>