<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for Query</h1>

<f:flashMessages />

<table>
	<tr>
		<th><f:translate key="tx_semantic_domain_model_sparql_query.name" /></th>
		<th><f:translate key="tx_semantic_domain_model_sparql_query.query" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{queries}" as="query">
		<tr>
			<td><f:link.action action="show" arguments="{query : query}"> {query.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.query}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{query : query}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{query : query}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Query</f:link.action>
</f:section>