<f:layout name="default" />

This template displays a NEW form for the current domain object.

<f:section name="main">
<h1>New Query</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="create" name="newQuery" object="{newQuery}">
	<label for="title"><f:translate key="tx_semantic_domain_model_sparql_query.name" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="name" style="width: 20em;" /><br />
	<label for="endpoint"><f:translate key="tx_semantic_domain_model_sparql_query.endpoint" /></label><br />
	<f:form.select property="endpoint" options="{endpoints}" optionLabelField="name" style="width: 20em;"><select><option>###dummy###</option></select></f:form.select><br />
	<label for="namespaces"><f:translate key="tx_semantic_domain_model_sparql_query.namespaces" /></label><br />
	<f:form.select property="namespaces" options="{namespaces}" optionValueField="uid" optionLabelField="prefix" multiple="multiple" size="5" style="width: 20em;"><select><option>###dummy###</option></select></f:form.select><br />
	<label for="title"><f:translate key="tx_semantic_domain_model_sparql_query.query" /></label><br />
	<f:form.textarea property="query" cols="80" rows="25" /><br />
	<f:form.submit value="Save" />
</f:form>
</f:section>