<f:layout name="default" />

This Template is responsible for creating a single view for a domain object

<f:section name="main">
<h1>Single View for Graph</h1>

<f:flashMessages />

<table>
	<tr>
		<td><f:translate key="tx_semantic_domain_model_rdf_graph.name" /></td>
		<td>{graph.name}</td>
	</tr>
</table>
<f:link.action action="edit" arguments="{graph : graph}">Edit</f:link.action>
<f:link.action action="delete" arguments="{graph : graph}">Delete</f:link.action>

<f:link.action action="index">Back to listing</f:link.action>
</f:section>